<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Innventory Home Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <div class="container text-center">
        <div th:if="${product.id == null}"><h1>Create New Sub Product</h1></div>
        <div th:unless="${product.id == null}"><h1>Update Product</h1></div>
        <div class="p-3">
            <form th:action="@{/products/save}" th:object="${product}" method="post"
            style="max-width: 600px;margin: 0 auto">
                <input type="hidden" th:field="*{id}" th:value="${product.id}"/>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Product name:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{product_name}" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Product color:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{color}" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Quantity:</label>
                    <div class="col-sm-8">
                        <input type="number" th:field="*{quantity}" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Origin price:</label>
                    <div class="col-sm-8">
                        <input type="number" th:field="*{origin_price}" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Sell price:</label>
                    <div class="col-sm-8">
                        <input type="number" th:field="*{sell_price}" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Product description:</label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{description}" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Category name:</label>
                    <div class="col-sm-8">
                        <select th:field="*{subCategory}" class="form-control" required>
                            <th:block th:each="subCate : ${subcategories}">
                                <option th:text="${subCate.sub_cate_name}" th:value="${subCate.id}"/>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Brand name:</label>
                    <div class="col-sm-8">
                        <select th:field="*{brands}" class="form-control" required>
                            <th:block th:each="bra : ${brandList}">
                                <option th:text="${bra.brand_name}" th:value="${bra.id}"/>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Status:</label>
                    <div class="col-sm-8">
                        <select th:field="*{staTus}" class="form-control" required>
                            <th:block th:each="sta : ${statuses}">
                                <option th:text="${sta.status_name}" th:value="${sta.id}"/>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="text-center p-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>